# Booking Service Environment Variables

# Server Config
PORT=3001
NODE_ENV=development

# MongoDB Config
MONGO_URI=mongodb://mongo:27017/ride_share_db
MONGO_DB_NAME=ride_share_db

# API Gateway URL
API_GATEWAY_URL=http://api-gateway:3000

# Microservice URLs
USER_SERVICE_URL=http://user-service:5000
DRIVER_SERVICE_URL=http://driver-service:5001
PAYMENT_SERVICE_URL=http://payment-service:3002
